@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700');

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root, .App {
  height: 100vh;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.page {
  padding: 0 20px;
}

input, button, a {
  outline-offset: 4px;
}

button {
  border: none;
  appearance: none;
  margin: 0;
  padding: 0;
  position: relative;
  height: 50px;
  line-height: 50px;
}

.page {
  margin-top: 20px;
}

body {
  text-align: left;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  color: #F4F4F4;
  background-color: #1b1e28;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h1 {
  display: block;
  text-align: left;
  padding: 0px 0px 20px 0px;
  color: #88dcfe;
  font-size: 2.5em;
  font-weight: 100;
  line-height: 1.2;
}

h2 {
  color: #88dcfe;
  padding: 2px 0px 10px 0px;
  font-size: 1em;
  font-variant: small-caps;
  font-weight: 300;
}

p {
  padding: 0px 0px 16px 0px;
  font-weight: 300;
  color: #F4F4F4;
}

i {
  color: #BDC3C7;
	font-size: 2.1em;
}

hr {
  margin: 1em 0 1em 0;
  border-top: 1px solid #f1f3f4;
}
.page-intro {
  margin-bottom: 20px;
}

.page-intro a {
  color: white;
  text-decoration: underline;
  font-weight: 500;
}

.page-intro a:hover {
  color: #88dcfe;
}

.topnav {
  height: 64px;
  background-color: #1b1e28;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 17px 20px;
}

.logo {
  margin-right: 10px;
}

.top-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px 150px 100px 150px;
  background-color: rgba(0, 0, 0, 0.80);
  z-index: 100;
  align-items: center;
  backdrop-filter: blur(2px);
}

.top-container-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  border-radius: 15px;
  background: #1b1e28;
  max-width: 500px;
  align-items: center;
}

.info-btn {
  height: 50px;
  margin-right: 10px;
}

.key-icon {
  height: 20px;
  position: relative;
  bottom: -5px;
}

.instructions {
  margin: 20px 0px 40px 0px;
  padding: 40px 50px 40px 50px;
  background-color: rgba(0,0,0,0.25);
  border-radius: 6px;
}

.instructions2 {
  margin: 0px 30px 40px 0px;
  padding: 40px 50px 40px 50px;
  background-color: #f1f3f4;
  border-radius: 6px;
  flex: 1;
}

.session-info {
  margin: 0;
  padding: 0;
  border-radius: 6px;
  border: none;
  flex: 1 1;
}

.top-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn-restart {
  display: inline;
  margin: 0.8em 0 0 0;
}

.small-caps {
  font-variant: small-caps;
}

.persona-desc li {
  margin-bottom: 16px;
  margin-left: 20px;
}

.hints li {
  margin-left: 20px;
}

.li-title {
	color: #89ddff;
	font-weight: 300;
}

.metrics-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.total-hours {
  margin: 0px 30px 0px 0px;
  padding: 20px 50px 20px 50px;
  background-color: rgba(0,0,0,0.25);
  border-radius: 6px;
  flex: 1;
  color: #90a1a9;
}

.speech-rate {
  margin: 0px 0px 0px 0px;
  padding: 20px 50px 20px 50px;
  background-color: rgba(0,0,0,0.25);
  border-radius: 6px;
  flex: 1;
  color: #90a1a9;
}

/* start da css for da buttons */

.btn_PageIntro {
	max-width: 150px;
  padding-bottom: 4rem;
}

.btn {
  border-radius: 4px;
  padding: 0 1.75em;
  font-size: 1em;
  color: #1b1e28;
  font-weight: 400;
	background-color: #88dcfe;
	max-width: 175px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.25s;
}

.btn-next {
  border-radius: 4px;
  padding: 0 1.75em;
  font-size: 1em;
  color: #1b1e28;
  font-weight: 400;
  background-color: #27e4bc;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  cursor: pointer;
  width: 140px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.btn-play, .btn-record, .btn-stop {
  margin-right: 10px;
  cursor: pointer;
  width: 140px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.btn-record {
  width: 175px;
}

.btn-record.stop {
  background-color: #F4F4F4;
}
.btn-record.stop:hover, .btn-record.stop:active, .btn-record.stop:focus {
  background-color: #F4F4F4;
}

.btn-record.redo {
  background-color: #fffac2;
}
.btn-record.redo:hover, .btn-record.redo:active, .btn-record.redo:focus {
  background-color: #dad490;
}

.btn-record.confirm {
  background-color: #ef72b2
}
.btn-record.confirm:hover, .btn-record.confirm:active, .btn-record.confirm:focus {
  background-color: #e05da0;;
}

.btn-disabled, button:disabled, button[disabled] {
  cursor: initial !important;
  background-color: rgba(255, 255, 255, 0.25) !important;
  color: #1b1e28 !important;
  pointer-events: none;
}

.btn:hover {
background-color: #F4F4F4;
}

.btn:active {
background-color: #F4F4F4;
}

.btn-next:hover {
background-color: #F4F4F4;
}

.btn-next:active {
background-color: #F4F4F4;
}

.btn-next.btn-disabled .ibutton-next {
  color: #1b1e28;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3c93d5;
}

.blue:hover {
  background-color: #6fc6ff;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15b358;
}

.green:hover {
  background-color: #48e68b;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #ce3323;
}

.red:hover {
  background-color: #ff6656;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409d;
}

.purple:hover {
  background-color: #b573d0;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #cd6509;
}

.orange:hover {
  background-color: #ff983c;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #d8ab00;
}

.yellow:hover {
  background-color: #ffde29;
}

.highlight {
  color: #22a7f0;
}

/* For buttons */

.disabled {
  background-color: red;
  pointer-events: none;
}

#yourname {
  font-size: 1em;
  padding: 16px;
  width: 320px;
  border: 0px;
  border-radius: 4px;
  background-color: #f1f3f4;
	margin-bottom: 16px;
	color: #1b1e28;
}

input::placeholder {
  color: #6C7A89;
  font-size: 1em;
}

#phraseXofY {
  color: maroon;
  font-size: 1.5em;
  margin-right: 50px;
}

#newSession {
  display: block;
}

#phraseBox {
  width: 100%;
  margin: 0;
  text-align: center;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#phrase {
  background-color: #1b1e28;
  color: #88dcfe;
  font-size: 2.6em;
  padding: 0 100px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
  font-weight: 300;
}

.feedback-ball-red {
  background-color: #e05da0;
  padding: 0;
  height: 30px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  font-size: 1rem;
  color: #1c1e29;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 400;
  left: calc(50% - 60px);
  width: 120px;
  white-space: nowrap;
  text-align: center;
}

.feedback-ball-green {
  background-color: #27e4bc;
  padding: 0;
  height: 30px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  font-size: 1rem;
  color: #1c1e29;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 400;
  left: calc(50% - 60px);
  width: 120px;
  white-space: nowrap;
  text-align: center;
}

.feedback-ball-red-t {
  background-color: #e05da0;
  padding: 0;
  height: 30px;
  border-radius: 5px;
  font-size: 1rem;
  color: #1c1e29;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 400;
  white-space: nowrap;
  width: 120px;
  text-align: center;
}

.feedback-ball-green-t {
  background-color: #27e4bc;
  padding: 0;
  height: 30px;
  border-radius: 5px;
  font-size: 1rem;
  color: #1c1e29;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 400;
  white-space: nowrap;
  width: 120px;
  text-align: center;
}

#instructions {
  color: gray;
  font-size: 0.75em;
  float: right;
  width: 20vw;
}

.grid-layout {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
  margin: 0 0 2em 0;
}

/* Holds recording widgets */

#container {
  width: 100%;
}

.wave-container {
  background-color: #1b1e28;
  width: 100%;
}

#PageRecord .wavedisplay {
  opacity: 0;
  transition: opacity 0.25s;
}

#PageRecord.is-new .wavedisplay {
  opacity: 0;
}
#PageRecord.is-recording .wavedisplay {
  opacity: 1;
}
#PageRecord.has-recorded .wavedisplay {
  opacity: 1;
}
#PageRecord.needs-confirmation .wavedisplay {
  opacity: 1;
}

#analyser,
#wavedisplay {
  width: 100%;
  height: 100px;
  margin-bottom: 1.75em;
  margin-top: -30px;
}

.wavedisplay {
  width: 100%;
  height: 128px;
  margin-top: -32px;
}

#waveform.wavedisplay {
  margin-bottom: 12px;
}

/* Meter/Waveform widgets */

canvas {
  display: inline-block;
  background: #1b1e28;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#controls {
  text-align: center;
  padding-bottom: 27px;
  margin-top: 28px;
}


.recordBox {
  margin-bottom: 20px;
}

#record {
  height: 70px;
  padding: 0;
  margin-bottom: -28px;
  margin-right: 10px;
  margin-left: 7px;
  box-sizing: border-box;
}

#record:hover {
  cursor: pointer;
  cursor: hand;
}

.ibutton {
  font-size: 1.1em;
  color: #1b1e28;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.ibutton-record {
  font-size: 1.3em;
  color: #1b1e28;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.ibutton-continue {
  font-size: 1.3em;
  color: #1b1e28;
  margin-left: 10px;
  position: relative;
  top: 2px;
}

.ibutton-next {
  font-size: 0.9em;
  color: #1b1e28;
  margin-right: 8px;
}

/* Tutorial Page */
.tutorial {
  margin: 20px 0px 40px 0px;
  padding: 40px 50px 40px 50px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.tutorial #phraseBox {
  background-color: #1b1e28;
}

.indicator-container {
  background-color: #1b1e28;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #90a1a9;
}

#auto-review {
  text-align: center;
}

label {
  color: #90a1a9;
}

a.get-help {
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  float: right;
  font-size: 1rem;
  line-height: 30px;
  height: 30px;
  display: inline-block;
}

a.get-help:hover, a.get-help:focus, a.get-help:active {
  color: #88dcfe;
  text-decoration: underline;
}

.clearfix {
  display: block;
  height: 1px;
  width: 100%;
}

#recorder {
  min-height: calc(100vh - 300px);
  height: 100%;
}

#footer {
  height: 175px;
}

@media only screen and (min-width: 1200px) {
  .page {
    padding: 0;
  }
  .topnav {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .topnav {
    padding-bottom: 0;
  }
  .page {
    margin-top: 0;
  }
  .total-hours {
    flex: unset;
    width: 100%;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px 20px 0 20px;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .speech-rate {
    flex: unset;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 8px 20px 20px 20px;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  h2 {
    padding-bottom: 4px;
  }

  #phraseBox {
    min-height: 230px;
  }

  #phrase {
    font-size: 1.4em;
    padding: 0;
  }

  .btn {
    padding: 0 1em;
    height: 32px;
    line-height: 32px;
    font-size: 0.8em;
  }

  .btn-record, .btn-play, .btn-record, .btn-stop, .btn-next {
    width: unset;
  }

  .feedback-ball-red, feedback-ball-green {
    height: 24px;
    line-height: 24px;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0 8px;
  }

  .tutorial {
    margin: 0 0 20px 0;
    padding: 20px;
  }

  .tutorial .grid-layout {
    display: block;
  }

  .tutorial .grid-layout div {
    margin: 0 auto;
    margin-bottom: 8px;
  }

  #recorder {
    min-height: calc(100vh - 344px);
    height: 100%;
  }

  #footer {
    height: 175px;
  }
}
