@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700');

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root, .App {
  height: 100vh;
}

body {
  text-align: left;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  color: #F4F4F4;
  background-color: #1b1e28;
  font-weight: 300;
}

input, button, a {
  outline-offset: 4px;
}

h1 {
  display: block;
  text-align: left;
  padding: 0px 0px 20px 0px;
  color: #88dcfe;
  font-size: 2.5em;
  font-weight: 100;
  line-height: 1.2;
}

h2 {
  color: #88dcfe;
  padding: 2px 0px 10px 0px;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  padding: 0px 0px 16px 0px;
  font-weight: 300;
  color: #F4F4F4;
}

i {
  color: #BDC3C7;
	font-size: 2.1em;
}

button {
  border: none;
  appearance: none;
  margin: 0;
  padding: 0;
  position: relative;
  height: 50px;
  line-height: 50px;
}

a {
  text-decoration: none;
}

hr {
  margin: 1em 0 1em 0;
  border-top: 1px solid #f1f3f4;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.page {
  padding: 0 20px;
  margin-top: 20px;
}

.page-intro {
  margin-bottom: 20px;
}

.page-intro a {
  color: white;
  text-decoration: underline;
  font-weight: 500;
}

.page-intro a:hover {
  color: #88dcfe;
}

.topnav {
  height: 64px;
  background-color: #1b1e28;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 17px 20px;
}

.logo {
  margin-right: 10px;
}

.instructions {
  margin: 20px 0px 40px 0px;
  padding: 40px 50px 40px 50px;
  background-color: #14161e;
  border-radius: 6px;
}

.persona-desc li {
  margin-bottom: 16px;
  margin-left: 20px;
}

.li-title {
	color: #89ddff;
	font-weight: 300;
}

.metrics-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.total-hours {
  margin: 0px 30px 0px 0px;
  padding: 20px 50px 20px 50px;
  background-color: #14161e;
  border-radius: 6px;
  flex: 1;
  color: #90a1a9;
}

.speech-rate {
  margin: 0px 0px 0px 0px;
  padding: 20px 50px 20px 50px;
  background-color: #14161e;
  border-radius: 6px;
  flex: 1;
  color: #90a1a9;
}

.btn {
  border-radius: 4px;
  padding: 0 1.75em;
  font-size: 1em;
  color: #1b1e28;
  font-weight: 400;
	background-color: #88dcfe;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.25s;
  font-weight: 600;
  min-width: 185px;
}

.btn-play, .btn-record, .btn-stop {
  margin-right: 10px;
}

.btn-record.stop {
  background-color: #F4F4F4;
}
.btn-record.stop:hover, .btn-record.stop:active, .btn-record.stop:focus {
  background-color: #F4F4F4;
}

.btn-record.redo {
  background-color: #fffac2;
}
.btn-record.redo:hover, .btn-record.redo:active, .btn-record.redo:focus {
  background-color: #dad490;
}

.btn-record.confirm {
  background-color: #ef72b2
}
.btn-record.confirm:hover, .btn-record.confirm:active, .btn-record.confirm:focus {
  background-color: #e05da0;;
}

.btn-disabled, button:disabled, button[disabled] {
  cursor: initial !important;
  background-color: rgba(255, 255, 255, 0.25) !important;
  color: #1b1e28 !important;
  pointer-events: none;
}

.btn:hover, .btn:active {
  background-color: #F4F4F4;
}

.btn-next.btn-disabled .ibutton-next {
  color: #1b1e28;
}

#phraseBox {
  width: 100%;
  margin: 0;
  text-align: center;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 6px 6px 0 0;
  margin-top: 18px;
  position: relative;
}

#phrase {
  color: #FFF;
  font-size: 2.6em;
  padding: 0 100px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
  font-weight: 300;
}

#phrase.error {
  color: #e05da0;
}

.feedback-ball-red {
  background-color: #e05da0;
  padding: 0;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  bottom: -130px;
  font-size: 1rem;
  color: #1c1e29;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 400;
  left: calc(50% - 60px);
  width: 120px;
  white-space: nowrap;
  text-align: center;
  z-index: 1000;
}

.feedback-ball-green {
  background-color: #27e4bc;
  padding: 0;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  bottom: -130px;
  font-size: 1rem;
  color: #1c1e29;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 400;
  left: calc(50% - 60px);
  width: 120px;
  white-space: nowrap;
  text-align: center;
  z-index: 1000;
}

.feedback-ball-red-t {
  background-color: #e05da0;
  padding: 0;
  height: 30px;
  border-radius: 5px;
  font-size: 1rem;
  color: #1c1e29;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 400;
  white-space: nowrap;
  width: 120px;
  text-align: center;
}

.feedback-ball-green-t {
  background-color: #27e4bc;
  padding: 0;
  height: 30px;
  border-radius: 5px;
  font-size: 1rem;
  color: #1c1e29;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 400;
  white-space: nowrap;
  width: 120px;
  text-align: center;
}

.grid-layout {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
  margin: 0 0 2em 0;
}

.wave-container {
  background-color: #1b1e28;
  width: 100%;
}

#PageRecord .wavedisplay {
  opacity: 0.1;
  transition: opacity 0.25s;
}

#PageRecord.is-new .wavedisplay {
  opacity: 0.1;
}
#PageRecord.is-recording .wavedisplay {
  opacity: 1;
}
#PageRecord.has-recorded .wavedisplay {
  opacity: 1;
}
#PageRecord.needs-confirmation .wavedisplay {
  opacity: 1;
}
#container {
  background-color: #14161e;
  border-radius: 0 0 6px 6px;
}

#analyser, #wavedisplay {
  width: 100%;
  height: 100px;
  margin-bottom: 1.75em;
}

.wavedisplay {
  width: 100%;
  height: 128px;
}

canvas {
  display: inline-block;
  background: transparent;
}

#controls {
  text-align: center;
  padding-bottom: 27px;
  margin-top: 28px;
}

.ibutton {
  font-size: 1.1em;
  color: #1b1e28;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.ibutton-record {
  font-size: 1.3em;
  color: #1b1e28;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.ibutton-continue {
  font-size: 1.3em;
  color: #1b1e28;
  margin-left: 10px;
  position: relative;
  top: 2px;
}

.ibutton-next {
  font-size: 0.9em;
  color: #1b1e28;
  margin-right: 8px;
}

/* Tutorial Page */
.tutorial {
  margin: 20px 0px 40px 0px;
  padding: 40px 50px 40px 50px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.tutorial #phraseBox {
  background-color: #1b1e28;
}

.indicator-container {
  background-color: #1b1e28;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #90a1a9;
}

#auto-review {
  text-align: center;
}

label {
  color: #90a1a9;
}

a.get-help {
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  float: right;
  font-size: 1rem;
  line-height: 30px;
  height: 30px;
  display: inline-block;
}

a.get-help:hover, a.get-help:focus, a.get-help:active {
  color: #88dcfe;
  text-decoration: underline;
}

.clearfix {
  display: block;
  height: 1px;
  width: 100%;
}

#recorder {
  min-height: calc(100vh - 300px);
  height: 100%;
}

#footer {
  height: 175px;
}

.spoken-words {
  text-align: center;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.spoken-words span {
  color: #90a1a9;
}

.spoken-words .diff {
  padding: 0 40px;
}
.spoken-words.unsupported {
  display: none;
}

#PageRecord.has-recorded .spoken-words span.correct {
  color: #27e4bc;
}

#PageRecord.has-recorded .spoken-words  span.incorrect {
  color: #e05da0;
  text-decoration: line-through;
  cursor: help;
}

.spoken-words span:first-of-type {
  margin-left: 10px;
}

.spoken-words i.fas {
  font-size: 1.2rem;
  color: white;
  opacity: 0;
  transition: opacity 0.25s;
}

.spoken-words i.fas.good {
  color: #27e4bc;
}

.spoken-words i.fas.bad {
  color: #e05da0;
}

#PageRecord.is-new .spoken-words i.fas {
  opacity: 0;
}
#PageRecord.is-recording .spoken-words i.fas,
#PageRecord.has-recorded .spoken-words i.fas,
#PageRecord.needs-confirmation .spoken-words i.fas {
  opacity: 1;
}

[data-title] {
  display: inline-block;
  position: relative;
}
[data-title]:hover::before {
  content: attr(data-title);
  text-transform: none;
  position: absolute;
  top: -30px;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  background: #000;
  color: #fff;
  font-family: sans-serif;
  white-space: nowrap;
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 400;
}
[data-title]:hover::after {
  content: '';
  position: absolute;
  top: 0;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-top: 8px solid #000;
  left: 50%;
}

[data-tooltip]:hover::before {
  top: unset;
  bottom: -30px;
  left: -50%;
}

[data-tooltip]:hover::after {
  top: unset;
  bottom: -2px;
  left: 0;
  transform: rotate(180deg);
}

@media only screen and (min-width: 1200px) {
  .page {
    padding: 0;
  }
  .topnav {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .topnav {
    padding-bottom: 0;
  }
  .page {
    margin-top: 0;
  }
  .total-hours {
    flex: unset;
    width: 100%;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px 20px 0 20px;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .speech-rate {
    flex: unset;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 8px 20px 20px 20px;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  h2 {
    padding-bottom: 4px;
  }

  #phraseBox {
    min-height: 230px;
  }

  #phrase {
    font-size: 1.4em;
    padding: 0;
  }

  .btn {
    padding: 0 1em;
    height: 32px;
    line-height: 32px;
    font-size: 0.8em;
  }

  .btn-record, .btn-play, .btn-record, .btn-stop, .btn-next {
    width: unset;
  }

  .feedback-ball-red, feedback-ball-green {
    height: 24px;
    line-height: 24px;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0 8px;
  }

  .tutorial {
    margin: 0 0 20px 0;
    padding: 20px;
  }

  .tutorial .grid-layout {
    display: block;
  }

  .tutorial .grid-layout div {
    margin: 0 auto;
    margin-bottom: 8px;
  }

  #recorder {
    min-height: calc(100vh - 344px);
    height: 100%;
  }

  #footer {
    height: 175px;
  }
}
